{% extends "base.html" %}
{% block content %}
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        {% for xabar in xabarlar %}
                            <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                                <div class="blog-item bg-light rounded overflow-hidden">
                                    <div class="blog-img position-relative overflow-hidden">
                                        <img style="max-height:18rem; min-height:18rem;" class="img-fluid" src="{{ xabar.rasm.url }}" alt="">
                                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">{{ xabar.kategoriya }}</a>
                                    </div>
                                    <div class="p-4">
                                        <div class="d-flex mb-3">
                                            <small><i class="far fa-calendar-alt text-primary me-2"></i>{{ xabar.nashr_vaqti }}</small>
                                        </div>
                                        <h4 class="mb-3">{{ xabar.sarlavha|truncatewords:3 }}</h4>
                                        <a class="text-uppercase" href="{% url 'detail' xabar.slug %}">Ko'proq o'qish<i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Blog list End -->
    
                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <!-- Search Form Start -->
                    <!-- Search Form End -->
    
                    <!-- Category Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Viloyatlar</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            {% for i in kategoriya %}
                                <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="{% url 'xabarlar' %}"><i class="bi bi-arrow-right me-2"></i>{{ i.nomi }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Category End -->
    
                    <!-- Recent Post Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Oxirgi yangiliklar</h3>
                        </div>
                        {% for data_reverse in xabarlar_yangi %}
                            <div class="d-flex rounded overflow-hidden mb-3">
                                <img class="img-fluid" src="{{ data_reverse.rasm.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <a href="{% url 'detail' data_reverse.slug %}" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">{{ data_reverse.sarlavha|truncatewords:3 }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Recent Post End -->
    
                    <!-- Image Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <img src="img/blog-1.jpg" alt="" class="img-fluid rounded">
                    </div>
                    <!-- Image End -->
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->

{% endblock content %}