{% extends 'base.html' %}
{% block content %}

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                        <img class="img-fluid w-100 rounded mb-5" src="{{ data_detail.rasm.url }}">
                        <h1 class="mb-4">{{ data_detail.sarlavha }}</h1>
                        <p>{{ data_detail.matn|safe }}</p>
                    </div>
                    <!-- Blog Detail End -->
                </div>
    
                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <!-- Search Form Start -->
                    <!-- Search Form End -->
    
                    <!-- Category Start -->

                    <!-- Category End -->
    
                    <!-- Recent Post Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Oxirgi yangiliklar</h3>
                        </div>
                        {% for i in l_news %}
                            <div class="d-flex rounded overflow-hidden mb-3">
                                <img class="img-fluid" src="{{ i.rasm.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <a href="{% url 'detail' i.slug %}" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">{{ i.sarlavha|truncatewords:3 }}
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- Recent Post End -->
    
                    <!-- Image Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <img src="img/blog-1.jpg" alt="" class="img-fluid rounded">
                    </div>

                    <!-- Tags End -->
    
                    <!-- Plain Text Start -->
                    <!-- Plain Text End -->
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->



{% endblock content %}